# scomp-link dependencies
# Recommended: pip install .  (uses pyproject.toml, source of truth)
#
# Manual install per Python version:
#   pip install -r requirements/requirements-py310.txt
#   pip install -r requirements/requirements-py311.txt
#   pip install -r requirements/requirements-py312.txt
#   pip install -r requirements/requirements-py313.txt
#
# Optional:
#   NLP:      pip install -r requirements/requirements-nlp-py<version>.txt
#   Image/CV: pip install -r requirements/requirements-img-py<version>.txt
#   Utils:    pip install -r requirements/requirements-utils.txt
#   Dev:      pip install -r requirements/requirements-dev.txt
